Repository sh-k-ls/lab-queue, pull requests merged in 2021-03, with the labels that each got.

#2 init modules and components (#1)
  front-end/lab-queue/angular.json
  front-end/lab-queue/package-lock.json
  front-end/lab-queue/package.json
  front-end/lab-queue/src/app/angular-material/angular-material.module.ts
  front-end/lab-queue/src/app/app-component/app.component.html
  front-end/lab-queue/src/app/app-component/app.component.scss
  front-end/lab-queue/src/app/app-component/app.component.spec.ts
  front-end/lab-queue/src/app/app-component/app.component.ts
  front-end/lab-queue/src/app/app-routing.module.ts
  front-end/lab-queue/src/app/app.component.html
  front-end/lab-queue/src/app/app.module.ts
  front-end/lab-queue/src/app/auth/auth-routing.module.ts
  front-end/lab-queue/src/app/auth/auth.module.ts
  front-end/lab-queue/src/app/auth/components/auth/auth.component.html
  front-end/lab-queue/src/app/auth/components/auth/auth.component.scss
  front-end/lab-queue/src/app/auth/components/auth/auth.component.spec.ts
  front-end/lab-queue/src/app/auth/components/auth/auth.component.ts
  front-end/lab-queue/src/app/create-queue/components/create-queue/create-queue.component.html
  front-end/lab-queue/src/app/create-queue/components/create-queue/create-queue.component.scss
  front-end/lab-queue/src/app/create-queue/components/create-queue/create-queue.component.spec.ts
  front-end/lab-queue/src/app/create-queue/components/create-queue/create-queue.component.ts
  front-end/lab-queue/src/app/create-queue/create-queue-routing.module.ts
  front-end/lab-queue/src/app/create-queue/create-queue.module.ts
  front-end/lab-queue/src/app/list-queue-view/components/list-queue-view/list-queue-view.component.html
  front-end/lab-queue/src/app/list-queue-view/components/list-queue-view/list-queue-view.component.scss
  front-end/lab-queue/src/app/list-queue-view/components/list-queue-view/list-queue-view.component.spec.ts
  front-end/lab-queue/src/app/list-queue-view/components/list-queue-view/list-queue-view.component.ts
  front-end/lab-queue/src/app/list-queue-view/components/list-queue/list-queue.component.html
  front-end/lab-queue/src/app/list-queue-view/components/list-queue/list-queue.component.scss
  front-end/lab-queue/src/app/list-queue-view/components/list-queue/list-queue.component.spec.ts
  front-end/lab-queue/src/app/list-queue-view/components/list-queue/list-queue.component.ts
  front-end/lab-queue/src/app/list-queue-view/list-queue-view-routing.module.ts
  front-end/lab-queue/src/app/list-queue-view/list-queue-view.module.ts
  front-end/lab-queue/src/app/navigation-bar/components/navigation-bar/navigation-bar.component.html
  front-end/lab-queue/src/app/navigation-bar/components/navigation-bar/navigation-bar.component.scss
  front-end/lab-queue/src/app/navigation-bar/components/navigation-bar/navigation-bar.component.spec.ts
  front-end/lab-queue/src/app/navigation-bar/components/navigation-bar/navigation-bar.component.ts
  front-end/lab-queue/src/app/navigation-bar/navigation.module.ts
  front-end/lab-queue/src/app/view-details-queue/components/view-details-queue/view-details-queue.component.html
  front-end/lab-queue/src/app/view-details-queue/components/view-details-queue/view-details-queue.component.scss
  front-end/lab-queue/src/app/view-details-queue/components/view-details-queue/view-details-queue.component.spec.ts
  front-end/lab-queue/src/app/view-details-queue/components/view-details-queue/view-details-queue.component.ts
  front-end/lab-queue/src/app/view-details-queue/view-details-queue-routing.module.ts
  front-end/lab-queue/src/app/view-details-queue/view-details-queue.module.ts
  front-end/lab-queue/src/index.html
  front-end/lab-queue/src/styles.scss
Labels: front-end

#11 add buttons and university logo in nav-bar (#7)
  front-end/lab-queue/src/app/angular-material/angular-material.module.ts
  front-end/lab-queue/src/app/navigation-bar/components/navigation-bar/navigation-bar.component.html
  front-end/lab-queue/src/app/navigation-bar/components/navigation-bar/navigation-bar.component.scss
  front-end/lab-queue/src/assets/logos/mgtu.eps
Labels: front-end

#10 done html page of view list queue (#3)
  front-end/lab-queue/src/app/angular-material/angular-material.module.ts
  front-end/lab-queue/src/app/app-component/app.component.html
  front-end/lab-queue/src/app/app-component/app.component.scss
  front-end/lab-queue/src/app/list-queue-view/components/list-queue-view/list-queue-view.component.html
  front-end/lab-queue/src/app/list-queue-view/components/list-queue-view/list-queue-view.component.scss
  front-end/lab-queue/src/app/list-queue-view/components/list-queue-view/list-queue-view.component.ts
  front-end/lab-queue/src/app/list-queue-view/components/list-queue/list-queue.component.html
  front-end/lab-queue/src/app/list-queue-view/components/list-queue/list-queue.component.scss
  front-end/lab-queue/src/app/list-queue-view/components/list-queue/list-queue.component.ts
Labels: front-end

#14 fixed bug: chrome didn't render logo; default path is changed
  front-end/lab-queue/src/app/app-routing.module.ts
  front-end/lab-queue/src/app/navigation-bar/components/navigation-bar/navigation-bar.component.html
  front-end/lab-queue/src/assets/logos/mgtu.eps
  front-end/lab-queue/src/assets/logos/mgtu.svg
Labels: bug, front-end

#13 init authorization back-end from documentation (#12)
  back-end/lab-queue/package-lock.json
  back-end/lab-queue/package.json
  back-end/lab-queue/src/app.controller.ts
  back-end/lab-queue/src/app.module.ts
  back-end/lab-queue/src/auth/auth.module.ts
  back-end/lab-queue/src/auth/auth.service.spec.ts
  back-end/lab-queue/src/auth/auth.service.ts
  back-end/lab-queue/src/auth/constants.ts
  back-end/lab-queue/src/auth/guard/jwt-auth.guard.ts
  back-end/lab-queue/src/auth/guard/local-auth.guard.ts
  back-end/lab-queue/src/auth/strategy/jwt.strategy.ts
  back-end/lab-queue/src/auth/strategy/local.strategy.ts
  back-end/lab-queue/src/users/users.module.ts
  back-end/lab-queue/src/users/users.service.spec.ts
  back-end/lab-queue/src/users/users.service.ts
Labels: back-end

#16 create login page (#6)
  front-end/lab-queue/src/app/angular-material/angular-material.module.ts
  front-end/lab-queue/src/app/auth/components/auth/auth.component.html
  front-end/lab-queue/src/app/auth/components/auth/auth.component.scss
  front-end/lab-queue/src/app/auth/components/auth/auth.component.ts
  front-end/lab-queue/src/shared/interfaces/queue.interface.ts
  front-end/lab-queue/src/shared/interfaces/user.interface.ts
Labels: front-end

#17 done authorization angular (#9)
  back-end/lab-queue/src/app.controller.ts
  back-end/lab-queue/src/app.service.ts
  back-end/lab-queue/src/auth/auth.service.ts
  front-end/lab-queue/package.json
  front-end/lab-queue/proxy.conf.json
  front-end/lab-queue/src/app/app-component/app.component.ts
  front-end/lab-queue/src/app/app-routing.module.ts
  front-end/lab-queue/src/app/app.module.ts
  front-end/lab-queue/src/app/auth/auth.module.ts
  front-end/lab-queue/src/app/auth/services/auth.service.spec.ts
  front-end/lab-queue/src/app/auth/services/auth.service.ts
  front-end/lab-queue/src/app/navigation-bar/components/navigation-bar/navigation-bar.component.html
  front-end/lab-queue/src/app/navigation-bar/components/navigation-bar/navigation-bar.component.ts
  front-end/lab-queue/src/app/view-details-queue/components/info-queue/info-queue.component.ts
  front-end/lab-queue/src/shared/classes/auth.guard.ts
  front-end/lab-queue/src/shared/classes/token.interceptor.ts
Labels: front-end

#27 done api service front-end (#23)
  front-end/lab-queue/src/app/api-service/api.service.spec.ts
  front-end/lab-queue/src/app/api-service/api.service.ts
Labels: front-end

#28 20 create api request back end
  back-end/lab-queue/.prettierrc
  back-end/lab-queue/package-lock.json
  back-end/lab-queue/src/app.controller.ts
  back-end/lab-queue/src/app.module.ts
  back-end/lab-queue/src/queue/queue.controller.spec.ts
  back-end/lab-queue/src/queue/queue.controller.ts
  back-end/lab-queue/src/queue/queue.service.spec.ts
  back-end/lab-queue/src/queue/queue.service.ts
  back-end/lab-queue/src/shared/classes/queue.dto.ts
Labels: back-end

#30 fix bug invalid localStorage key of token (#29)
  front-end/lab-queue/src/app/app-component/app.component.ts
  front-end/lab-queue/src/app/auth/services/auth.service.ts
  front-end/lab-queue/src/environments/environment.ts
Labels: bug, front-end

#31 21 link list queue view with back end
  front-end/lab-queue/src/app/api-service/api.service.ts
  front-end/lab-queue/src/app/list-queue-view/components/list-queue-view/list-queue-view.component.ts
  front-end/lab-queue/src/app/list-queue-view/components/list-queue/list-queue.component.html
  front-end/lab-queue/src/app/list-queue-view/components/list-queue/list-queue.component.ts
Labels: front-end

#32 Create node.js.yml
  .github/workflows/node.js.yml
Labels: back-end, data-base, front-end

#35 4 queue detail view
  front-end/lab-queue/src/app/view-details-queue/components/info-queue/info-queue.component.html
  front-end/lab-queue/src/app/view-details-queue/components/info-queue/info-queue.component.scss
  front-end/lab-queue/src/app/view-details-queue/components/info-queue/info-queue.component.ts
  front-end/lab-queue/src/app/view-details-queue/components/list-member-queue/list-member-queue.component.html
  front-end/lab-queue/src/app/view-details-queue/components/list-member-queue/list-member-queue.component.ts
  front-end/lab-queue/src/app/view-details-queue/components/view-details-queue/view-details-queue.component.html
  front-end/lab-queue/src/app/view-details-queue/components/view-details-queue/view-details-queue.component.ts
  front-end/lab-queue/src/app/view-details-queue/view-details-queue.module.ts
Labels: front-end

#42 25 setting deploy aws
  .github/workflows/CD.yml
  .github/workflows/CI.yml
  .github/workflows/aws.yml
  back-end/lab-queue/Procfile
  back-end/lab-queue/package.json
  back-end/lab-queue/src/main.ts
  front-end/lab-queue/src/environments/environment.prod.ts
Labels: ci/cd

#43 changed dest branch (#25)
  .github/workflows/CD.yml
Labels: ci/cd

#44 changed dest branch (#25)
  .github/workflows/CD.yml
Labels: ci/cd

#51 Bugfix/50 api use req from jwt
  back-end/lab-queue/src/app.module.ts
  back-end/lab-queue/src/auth/auth.module.ts
  back-end/lab-queue/src/auth/auth.service.ts
  back-end/lab-queue/src/auth/strategy/jwt.strategy.ts
  back-end/lab-queue/src/queue/queue.controller.ts
  back-end/lab-queue/src/queue/queue.service.ts
  back-end/lab-queue/src/request/request.service.spec.ts
  back-end/lab-queue/src/request/request.service.ts
  back-end/lab-queue/src/shared/classes/queue.dto.ts
  back-end/lab-queue/src/shared/classes/request.dto.ts
  back-end/lab-queue/src/shared/classes/user.dto.ts
  back-end/lab-queue/src/users/users.service.ts
  front-end/lab-queue/src/app/angular-material/angular-material.module.ts
  front-end/lab-queue/src/app/api-service/api.service.ts
  front-end/lab-queue/src/app/app-routing.module.ts
  front-end/lab-queue/src/app/list-queue-view/components/list-queue-view/list-queue-view.component.ts
  front-end/lab-queue/src/app/list-queue-view/components/list-queue/list-queue.component.html
  front-end/lab-queue/src/app/list-queue-view/components/list-queue/list-queue.component.ts
  front-end/lab-queue/src/app/view-details-queue/components/info-queue/info-queue.component.ts
  front-end/lab-queue/src/app/view-details-queue/components/list-member-queue/list-member-queue.component.ts
  front-end/lab-queue/src/app/view-details-queue/components/view-details-queue/view-details-queue.component.html
  front-end/lab-queue/src/app/view-details-queue/components/view-details-queue/view-details-queue.component.ts
  front-end/lab-queue/src/shared/classes/token.interceptor.ts
  front-end/lab-queue/src/shared/interfaces/queue.interface.ts
  front-end/lab-queue/src/shared/interfaces/request.interface.ts
Labels: back-end, fix, front-end

#55 5 queue creation view
  front-end/lab-queue/angular.json
  front-end/lab-queue/package-lock.json
  front-end/lab-queue/package.json
  front-end/lab-queue/src/app/angular-material/angular-material.module.ts
  front-end/lab-queue/src/app/create-queue/components/create-queue/create-queue.component.html
  front-end/lab-queue/src/app/create-queue/components/create-queue/create-queue.component.scss
  front-end/lab-queue/src/app/create-queue/components/create-queue/create-queue.component.ts
  front-end/lab-queue/src/app/create-queue/create-queue.module.ts
  front-end/lab-queue/src/app/navigation-bar/components/navigation-bar/navigation-bar.component.scss
  front-end/lab-queue/src/shared/interfaces/course.interface.ts
  front-end/lab-queue/src/theme.scss
Labels: front-end

#49 Feature/24 queue detail view backend integration
  back-end/lab-queue/src/app.module.ts
  back-end/lab-queue/src/profile/profile.service.spec.ts
  back-end/lab-queue/src/profile/profile.service.ts
  back-end/lab-queue/src/queue/queue.controller.ts
  back-end/lab-queue/src/request/request.service.ts
  back-end/lab-queue/src/shared/classes/profile.dto.ts
  front-end/lab-queue/src/app/api-service/api.service.ts
  front-end/lab-queue/src/app/view-details-queue/components/info-queue/info-queue.component.ts
  front-end/lab-queue/src/app/view-details-queue/components/list-member-queue/list-member-queue.component.html
  front-end/lab-queue/src/app/view-details-queue/components/list-member-queue/list-member-queue.component.scss
  front-end/lab-queue/src/app/view-details-queue/components/list-member-queue/list-member-queue.component.ts
  front-end/lab-queue/src/app/view-details-queue/components/view-details-queue/view-details-queue.component.html
  front-end/lab-queue/src/app/view-details-queue/components/view-details-queue/view-details-queue.component.ts
  front-end/lab-queue/src/shared/interfaces/profile.interface.ts
Labels: front-end

#58 Feature/34 user in localstorage
  back-end/lab-queue/src/app.controller.ts
  front-end/lab-queue/src/app/api-service/api.service.ts
  front-end/lab-queue/src/app/app-component/app.component.ts
  front-end/lab-queue/src/app/auth/services/auth.service.ts
  front-end/lab-queue/src/environments/environment.prod.ts
  front-end/lab-queue/src/environments/environment.ts
  front-end/lab-queue/src/shared/interfaces/user.interface.ts
Labels: front-end

#60 Bugfix/57 merge sprint 1
  back-end/lab-queue/src/profile/profile.service.ts
  back-end/lab-queue/src/queue/queue.controller.ts
  back-end/lab-queue/src/queue/queue.service.ts
  front-end/lab-queue/src/app/view-details-queue/components/info-queue/info-queue.component.html
  front-end/lab-queue/src/app/view-details-queue/components/info-queue/info-queue.component.scss
  front-end/lab-queue/src/app/view-details-queue/components/list-member-queue/list-member-queue.component.html
  front-end/lab-queue/src/app/view-details-queue/components/list-member-queue/list-member-queue.component.scss
  front-end/lab-queue/src/app/view-details-queue/components/view-details-queue/view-details-queue.component.ts
Labels: back-end, front-end
